@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-main: #0798ff;
  --color-sub: #1b69e4;
  --color-bg: #fafafa;
  --color-warning: #ff0000;
  --color-neutral: #f0f0f0;
  --font-sans: var(--font-montserrat);
}

/* 다크모드 변수 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.shadow-card {
  box-shadow: 0.695px 3.939px 40px 7px rgba(0, 0, 0, 0.25);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-inter),
    "Wix Madefor Text",
    var(--font-sans),
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
}
