body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

.header {
  text-align: center;
  padding: 5px;
  background: #007bff;
  color: white;
}

.trip-dates {
  text-align: center;
}

.day-container {
  margin: 5px auto;
  max-width: 1200px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.map-container {
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
  height: 400px;
}

.places-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.place-card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(50% - 20px);
}

.photo-grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.photo-card {
  flex: 1 1 calc(50% - 10px);
  margin-top: 10px;
}

.photo {
  width: 100%;
  border-radius: 8px;
  height: 30vh;
  object-fit: cover;
}

@media (max-width: 768px) {
  .places-container {
    flex-direction: column;
  }

  .place-card {
    flex: 1 1 100%;
  }
}

.popup-photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Responsive grid with a minimum size for photos */
  gap: 10px; /* Space between photos */
  padding: 10px; /* Inner padding for the grid container */
  justify-items: center; /* Center-align items horizontally */
  align-items: center; /* Center-align items vertically */
  background-color: #f9f9f9; /* Light background color */
  border-radius: 8px; /* Rounded corners for the grid container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visibility */
}

.popup-photo {
  max-width: 100%; /* Ensure images don't exceed their grid cell */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners for photos */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  cursor: pointer; /* Pointer cursor for interactivity */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transitions */
}

.popup-photo:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}


.photo {
  width: 100%;
  border-radius: 8px;
  height: 30vh; /* Default height for smaller screens */
  object-fit: cover;
}

@media (min-width: 768px) { /* For tablets and small desktops */
  .photo {
    height: 40vh;
  }
}

@media (min-width: 1200px) { /* For large desktops */
  .photo {
    height: 70vh;
  }
}
